@model choixResto.ViewModels.AccueilViewModel

<div>
    Prêts à choisir un restaurant ?
</div>
<div>
    @Html.ActionLink(
    linkText: " Créer un sondage",
    actionName: "CreerSondage",
    controllerName: "Sondage",
    routeValues: null, 
    htmlAttributes: new { @class = "btn btn-success btn-sm" }
    )
</div>

<div>
    <ul>
        <li>@Html.ActionLink("Créer un nouveau restaurant", "CreerRestaurant", "Restaurant")</li>
        <li>@Html.ActionLink("Modifier les restaurants", "index", "Restaurant")</li>
    </ul>
</div>

